<!DOCTYPE html>
<html>
<head>
  <title>Chicago Festivals</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <h1><%= link_to "Chicago Festivals", "/" %>

      <small><%= link_to "Locations", '/locations', 'data-no-turbolink' => true %></small>
      <small><%= link_to "Genres", '/genres' %></small>
      <small><%= link_to "Artists", '/artists' %></small>

      <% if session["user_id"].present? %>
        <small><%= link_to "Sign Out", '/logout' %></small>
        <small class="right"><%= User.find_by(id: session["user_id"]).name %></small>
      <% else %>
          <small><%= link_to "Sign Up", '/signup' %></small>
          <small><%= link_to "Sign In", '/login' %></small>
      <% end %>
    </h1>

    <% if notice.present? %>
      <div class="alert alert-info"%>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
