<% if cookies["festival_ids"].present? %>
  <h4>Your browsing history | <%= link_to "Clear Recent History", '/cookies', :method => 'delete' %></h4>

  <% cookies["festival_ids"].split.each do |festival_id| %>
    <% if Festival.find_by(id: festival_id).present? %>
      <%= image_tag Festival.find_by(id: festival_id).logo_url, width: "200" %>
    <% end %>
  <% end %>

<% end %>

<% if session[:user_id].present? %>
  <p><%= link_to "Add a New Festival", "/festivals/new" %></p>
<% end %>

<%= paginate @festivals %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
  <% @festivals.each do |festival| %>
    <tr>
      <td><%= link_to festival.name, festival_url(festival.id) %></td>
      <td>
        <% if festival.location.present? %>
          <%= link_to festival.location.name, location_url(festival.location.id), 'data-no-turbolink' => true %>
        <% else %>
          Not known
        <% end %>
      </td>
      <td>
        <% if festival.genre.present? %>
          <%= link_to festival.genre.name, genre_url(festival.genre.id) %>
        <% else %>
          Not known
        <% end %>
      </td>
      <td><%= link_to "Edit", "/festivals/#{festival.id}/edit" %></td>
      <td><%= link_to "Delete", "/festivals/#{festival.id}", :method => 'delete' %></td>
    </tr>
  <% end %>

</table>
