<% if cookies["festival_ids"].present? %>
  <h4>Your browsing history | <%= link_to "Clear Recent History", '/cookies', :method => 'delete' %></h4>

  <% cookies["festival_ids"].split.each do |festival_id| %>
    <%= image_tag Festival.find_by(id: festival_id).logo_url, width: "200" %>
  <% end %>

<% end %>

<p><%= link_to "Add a New Festival", "/festivals/new" %></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
  <% @festivals.each do |festival| %>
    <tr>
      <td><%= link_to festival.name, festival_url(festival.id) %></td>
      <td><%= festival.location.name %></td>
      <td><%= festival.genre.name %></td>
      <td><%= link_to "Edit", "/festivals/#{festival.id}/edit" %></td>
      <td><%= link_to "Delete", "/festivals/#{festival.id}", :method => 'delete' %></td>
    </tr>
  <% end %>

</table>
