<p><%= link_to "Add a New Festival", "/festivals/new" %></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Genre</th>
    <th></th>
    <th></th>
  </tr>
  <% @festivals.each do |festival| %>
    <tr>
      <td><%= link_to festival.name, festival_url(festival.id) %></td>
      <td><%= festival.location.name %></td>
      <td><%= festival.genre.name %></td>
      <td><%= link_to "Edit", "/festivals/#{festival.id}/edit" %></td>
      <td><%= link_to "Delete", "/festivals/#{festival.id}", :method => 'delete' %></td>
    </tr>
  <% end %>

</table>
