<h2><%= @festival.name %> | <%= link_to @location.name, location_url(@location.id) %> | <%= link_to @genre.name, genre_url(@genre.id) %></h2>
<%= image_tag @festival.logo_url %>

<h4>Price: $<%=@festival.price%></h4>
<h4>Start: <%= @festival.date_start.strftime("%b %d %Y")%> </h4>
<h4>End: <%= @festival.date_end.strftime("%b %d %Y")%> </h4>
<h4><a href=<%=@festival.website%>>Website</a></h4>

<p><%= @festival.description %></p>